@use 'colors.scss' as *;
@use 'components.scss' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%; //10px
	scroll-behavior: smooth;
	font-family: 'Montserrat', sans-serif;
}

.nav-position {
	position: fixed;
	top: 0;
}

.logo {
	font-size: 2.2rem;
	padding: 0.5em;
	color: $secondary-color;
	font-weight: 700;
	text-decoration: none;
}

.home-btn {
	display: none;
	position: fixed;
    right: 15px;
    bottom: 15px;
    width: 45px;
    height: 45px;
    font-size: 22px;
    line-height: 45px;
    color: #ffffff;
    background: #01b3a7;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    z-index: 100;
	cursor: pointer;
	transition: background-color .3s;

	&:hover {
		background-color: $dark;
	}

	&--active {
		display: block;
	}
}

// ANIMATION
@keyframes nav-btn-animation {
	0% {
		transform: scaleY(0);
	}
	100% {
		transform: scaleY(1);
	}
}

@keyframes home-btn-animation {
	from {
		transform: scale(0);
	}

	to {
		transform: scale(1);
	}
}

.nav-btn-animation {
	animation: nav-btn-animation 0.4s;
}

.home-btn-animation {
	animation: home-btn-animation .2s;
}



// NAVIGATION

.nav {
	z-index: 100;
	width: 100%;
	background-color: $white;
	border-bottom: 0.1em solid #d8d8d8;

	&__mobile {
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: relative;
		height: 6.5em;
		width: 100%;

		&-btn {
			font-size: 3rem;
			padding: 0.5em;
			background: none;
			border: none;
			cursor: pointer;
			color: $secondary-color;
		}

		.container {
			display: flex;
			align-items: center;
			justify-content: center;
		}

		&-menu {
			position: absolute;
			display: flex;
			flex-direction: column;
			background-color: $white;
			top: 6.5em;
			left: 0;
			height: calc(100vh - 6.5em);
			transform: translateX(-100%);
			box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
			transition: transform 0.6s;
			z-index: 10;

			&--active {
				transform: translateX(0);
			}

			&-socials {
				text-align: center;
				margin: 1em 3em;

				&-item {
					font-size: 1.8rem;
					padding: 1em 0.5em;
					color: $dark;
					text-decoration: none;
					transition: color 0.4s;
					cursor: pointer;

					&:hover {
						color: $main-color;
					}
				}
			}

			&-items {
				display: flex;
				flex-direction: column;
				border-top: 0.1em solid #d8d8d8;
			}

			&-item {
				font-size: 1.8rem;
				padding: 1em 7em 1.2em 1.5em;
				color: $dark;
				text-decoration: none;
				cursor: pointer;
				transition: background-color 0.4s, color 0.4s;

				&:hover {
					background-color: $main-color;
					color: $white;
				}
			}
		}

		&-info {
			display: flex;
			flex-direction: column;
			position: fixed;
			right: 0;
			top: 6.5em;
			padding: 2.5em;
			background-color: $white;
			transform: translateY(10%);
			visibility: hidden;
			opacity: 0;
			box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
			transition: visibility 0.3s, transform 0.3s, opacity 0.3s;
			z-index: 10;

			&--active {
				visibility: visible;
				transform: translateY(0);
				opacity: 1;
			}

			p {
				font-size: 1.6rem;
				margin-bottom: 1.5em;

				span {
					font-size: 1.8rem;
				}

				i {
					font-size: 1.8rem;
					color: $main-color;
					margin-right: 0.7em;
				}
			}

			.second-btn {
				border: 0.12em solid $main-color;
			}
		}
	}

	&__desktop {
		width: 100%;
		display: none;

		.wrapper {
			width: 100%;
		}

		&-head {
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 2em 1em;
			margin: 0 1em;

			.logo {
				font-size: 2.6rem;
				color: $secondary-color;
				font-weight: 700;
				text-decoration: none;
			}

			&-info {
				display: flex;
				align-items: center;
				justify-content: center;

				&-time {
					border-right: 0.1em solid #d8d8d8;
				}

				.second-btn {
					border: 0.12em solid $main-color;
					padding: 0.7em 1.7em;
				}

				p {
					font-size: 1.6rem;
					margin: 0 2em;

					span {
						font-size: 1.8rem;
					}

					i {
						font-size: 1.8rem;
						color: $main-color;
						margin-right: 0.7em;
					}
				}
			}
		}

		&-menu {
			z-index: 1000;
			width: 100%;
			background-color: $secondary-color;

			.wrapper {
				display: flex;
				align-items: center;
				justify-content: space-between;
			}
			&-items {
				padding: 2em 1em;
			}

			&-item {
				position: relative;
				font-size: 2rem;
				padding: 1em;
				color: $white;
				text-decoration: none;
				letter-spacing: 0.05em;
				cursor: pointer;
				transition: background-color 0.5s;

				&:hover {
					background-color: rgba(255, 255, 255, 0.15);
				}

				&::before {
					content: '';
					position: absolute;
					width: 100%;
					height: 0em;
					top: 0;
					left: 0;
					background-color: $main-color;
					overflow: hidden;
					transition: height 0.5s;
				}

				&:hover::before {
					height: 0.2em;
				}
			}

			&-socials {
				margin-right: 1em;

				&-item {
					font-size: 2rem;
					padding: 1em 0.5em;
					color: $white;
					text-decoration: none;
					transition: color 0.4s;
					cursor: pointer;

					&:hover {
						color: $main-color;
					}
				}
			}
		}
	}
}

// HEADER
.header {
	background-image: url('../img/header-bg-small.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 15%;
	width: 100%;
	height: 100%;
	margin-top: -0.1em;

	&__info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		height: calc(100vh - 6.5em);
		color: $white;
		padding: 1em;

		&-text {
			font-size: 1.8rem;
			margin-bottom: 0.5em;
		}

		&-tittle {
			font-size: 3.8rem;
			font-weight: normal;

			span {
				font-weight: 700;
			}
		}

		.second-btn {
			margin-top: 1.5em;
			color: $white;
			border: 0.12em solid $white;
			background-color: transparent;

			&:hover {
				border: 0.12em solid $main-color;
				background-color: $main-color;
			}
		}
	}
}

// MAIN

// TOUR
.tours {
	background-color: $light-gray;
	&__cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__card {
		width: 100%;
		max-width: 36em;
		padding: 1em 3em;

		&-img {
			position: relative;
			overflow: hidden;

			img {
				height: 36em;
				width: 100%;
				transition: transform 0.4s;

				&:hover {
					transform: scale(1.05);
				}
			}
		}

		&-tittle {
			position: absolute;
			bottom: 1.5em;
			left: 50%;
			text-align: center;
			transform: translateX(-50%);
			color: $white;
			font-size: 2.6rem;
			letter-spacing: 0.05em;
		}
	}

	&__others {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 2em;
		color: $dark;
		font-size: 1.6rem;
		font-weight: 700;
		text-decoration: none;
		transition: margin-left 0.3s;

		&:hover {
			margin-left: -1em;
			.arrow-right::after {
				width: 40px;
			}
			.arrow-right::before {
				margin: -5px 0 0 5px;
			}
		}

		.arrow-right {
			width: 50px;
			height: 50px;
			margin-left: 1em;
			display: inline-block;
			position: relative;

			&::before {
				content: '';
				position: absolute;
				display: block;
				width: 10px;
				height: 10px;
				top: 50%;
				left: 50%;
				border-style: solid;
				border-color: #000;
				border-width: 2px 2px 0 0;
				transform-origin: 50% 50%;
				transform: rotate(45deg);
				margin: -5px 0 0 -5px;
				transition: margin 0.3s;
			}

			&::after {
				content: '';
				display: block;
				top: 50%;
				left: 50%;
				border-style: solid;
				border-color: #000;
				position: absolute;
				transform-origin: 50% 50%;
				width: 30px;
				height: 0;
				border-width: 2px 0 0 0;
				transform: translate(-26px, -1px);
				transition: width 0.3s;
			}

			&:hover::before {
				margin: -5px 0 0 15px;
			}

			&:hover::after {
				width: 50px;
			}
		}
	}
}

// ABOUT-US

.about {
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__img {
		margin-bottom: 2em;

		img {
			max-width: 100%;
		}

		.about-img {
			padding: 1em;
		}
	}

	&__info {
		&-heading {
			text-align: center;
			margin-bottom: 2em;

			h2 {
				font-size: 2.4rem;
			}

			.subpage-heading {
				font-size: 3rem;
				letter-spacing: 0.05em;
				color: $gray;
			}
		}

		&-content {
			&-headings {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 0 4em;

				.about-items {
					list-style: none;
					text-align: center;
					text-transform: uppercase;
				}

				.about-item {
					position: relative;
					display: inline-block;
					font-size: 1.6rem;
					padding: 0.5em 1em;
					margin-bottom: 0.5em;
					color: $gray;
					letter-spacing: 0.15em;
					cursor: pointer;
					border-top: 0.1em solid $light-gray;
					border-bottom: 0.1em solid $light-gray;
					transition: color 0.3s;

					&:hover {
						color: $main-color;
					}

					&--first {
						&--active {
							color: $main-color;
							border-bottom: 0.15em solid $main-color;
							border-top: 0.15em solid $main-color;
						}
					}

					&--second {
						&--active {
							color: $main-color;
							border-bottom: 0.15em solid $main-color;
							border-top: 0.15em solid $main-color;
						}
					}

					&--third {
						&--active {
							color: $main-color;
							border-bottom: 0.15em solid $main-color;
							border-top: 0.15em solid $main-color;
						}
					}
				}
			}

			&-text {
				padding: 0 1em;

				.text {
					text-align: center;
					font-size: 1.5rem;
					margin: 1em 0;
					line-height: 1.6em;
					opacity: 0.8;

					&--subpage {
						text-align: left;
					}
				}
				.buttons {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
				}
				&--first {
					display: none;
					&--active {
						display: block;
					}
				}
				&--second {
					display: none;
					&--active {
						display: block;
					}
				}
				&--third {
					display: none;
					&--active {
						display: block;
					}
				}

				.progress {
					width: 100%;
					margin-top: 2em;
					font-size: 1.5rem;
					text-align: left;

					&__title {
						letter-spacing: 0.075em;
						margin-bottom: 0.5em;
						color: $gray;
					}

					&__bar {
						height: 0.6em;
						background-color: $light-gray;

						&-linear {
							position: relative;
							height: 0.6em;

							&--first {
								width: 79%;
								background-color: #50ba87;
							}

							&--second {
								width: 72%;
								background-color: #e7a855;
							}

							&--third {
								width: 88%;
								background-color: $main-color;
							}
						}

						&-value {
							position: absolute;
							letter-spacing: 0.075em;
							color: $gray;
							bottom: 100%;
							right: -4px;
							margin-bottom: 0.5em;
							transform: translate3d(50%, 0, 0);
						}

						&-marker {
							display: inline-block;
							position: absolute;
							top: 50%;
							right: 0;
							width: 1.3em;
							height: 1.3em;
							border: 0.35em solid $white;
							border-radius: 50%;
							transform: translate(50%, -50%);
							box-shadow: 0 0 2px 3px rgb(0 0 0 / 10%);

							&--first {
								background-color: #50ba87;
							}

							&--second {
								background-color: #e7a855;
							}

							&--third {
								background-color: $main-color;
							}
						}
					}
				}

				.skills {
					display: flex;
					flex-direction: column;
					align-items: center;
					justify-content: center;
					gap: 2em;
					margin: 2em 0;

					&__text {
						text-align: center;
						margin: 1em 0;
						font-size: 1.4rem;
					}
				}
			}
		}
	}
}

// SERVICES
.services {
	&__cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__card {
		padding: 3em 1.5em;
		margin-bottom: 2em;
		max-width: 28em;
		text-align: center;
		border: 0.5em solid $light-gray;

		&-icon {
			font-size: 3rem;
			color: $main-color;
			margin-bottom: 0.5em;
		}

		&-tittle {
			font-size: 2rem;
			font-weight: 400;
			margin-bottom: 0.7em;
		}

		&-text {
			font-size: 1.4rem;
			line-height: 1.7em;
			color: $gray;
			opacity: 0.7;
		}
	}
}

// HOT-TOURS
.hot-tours {
	&__cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__card {
		position: relative;
		width: 100%;
		margin-bottom: 5em;

		&-price {
			position: absolute;
			top: 0;
			right: 0;
			padding: 1em 1.5em;
			overflow: hidden;
			z-index: 1;

			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 1.4em;
				width: 200%;
				height: 100%;
				background: $main-color;
				transform: skew(45deg);
				transform-origin: 50% 100%;
				z-index: -1;
			}
			.price {
				font-size: 1.8rem;
				letter-spacing: 0.015em;
				color: $white;
			}
		}
		&-img {
			position: relative;
			img {
				max-width: 100%;
			}
		}

		&-info {
			&-place {
				margin: 1em 0 0.7em 0;
				font-size: 2rem;
				// font-weight: normal;
				color: $dark;
			}

			&-reviews {
				display: flex;
				margin-bottom: 1em;

				&-stars {
					color: #ffd700;

					i {
						font-size: 1.5rem;
						margin-right: 0.25em;
					}
				}

				p {
					font-size: 1.3rem;
					color: $gray;
					letter-spacing: 0.1em;
				}
			}

			&-text {
				color: $gray;
				font-size: 1.5rem;
				line-height: 1.7em;
				opacity: 0.7;
				margin: 1.2em 0;
			}
		}
	}
}

// HERO-IMG
.hero-img {
	position: relative;
	padding: 6em 2em;
	background-image: url('../img/hero-img.jpg');
	background-position: 45% 1%;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
	z-index: 0;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -1;
		content: '';
	}

	&__tittle {
		font-size: 2.6rem;
		line-height: 1.5em;
		font-weight: normal;
		color: $white;

		span {
			font-size: 3rem;
			font-weight: 700;
		}
	}

	&__text {
		margin-top: 1.5em;
		margin-bottom: 4em;
		font-size: 1.6rem;
		line-height: 1.6em;
		color: $white;
		letter-spacing: 0.1em;
	}

	.first-btn {
		text-decoration: none;
	}
}

//REVIEWS
.reviews {
	background-color: $light-gray;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__box {
		background-color: $white;
		margin: 5em 0 6em 0;
		text-align: center;
		padding: 1em 2em;
		filter: drop-shadow(0 0 2px rgba(0, 0, 0, 0.15));

		&-figure {
			margin-top: -5em;
			margin-bottom: 1em;

			img {
				border-radius: 50%;
				border: 1.5em solid $white;
			}
		}

		&-text {
			font-size: 1.5rem;
			color: $dark;
			line-height: 1.6em;
			margin-bottom: 1em;
			letter-spacing: 0.025em;
		}

		&-name {
			font-size: 1.9rem;
			margin-bottom: 0.8em;
			font-weight: normal;
			color: $main-color;
		}
	}
}

// ACHIEVEMENTS
.achievements {
	&__cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 100%;
	}
	&__card {
		position: relative;
		padding: 0 2em;
		width: 100%;
		max-width: 340px;
		height: 270px;
		background-image: url('../img/achievement-img.jpg');
		margin-bottom: 4em;

		&-content {
			position: absolute;
			width: 90%;
			height: 90%;
			top: 50%;
			left: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			transform: translate(-50%, -50%);
			background-color: white;
			padding: 1em;

			&-number {
				font-size: 4.6rem;
				font-weight: 700;
				margin-bottom: 0.2em;
			}
			&-text {
				font-size: 2.2rem;
				text-align: center;
			}
		}
	}
}

//DISCOUNT
.discount {
	position: relative;
	background-image: url('../img/discount-bg.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: 70%;
	z-index: 0;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: -1;
		content: '';
	}

	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: $white;
		text-align: center;
		padding: 2em 0;

		&-heading {
			font-size: 3.2rem;
			margin-bottom: 0.5em;
		}

		&-text {
			font-size: 1.5rem;
			letter-spacing: 0.075em;
			line-height: 1.8em;
			margin-bottom: 1.5em;
		}

		&-form {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			width: 100%;
			max-width: 480px;

			input {
				width: 100%;
				padding: 1.5em 1em;
				font-size: 1.5rem;
				background: rgba(255, 255, 255, 0.34);
				border-color: transparent;
				margin-bottom: 1em;

				&::placeholder {
					color: $white;
				}
			}

			.first-btn {
				width: 100%;
				font-size: 1.9rem;
				margin-bottom: 0;
			}
		}
	}
}

// CONTACT
.contact {
	background-color: $secondary-color;
	color: $white;

	&__container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 2em;
	}

	&__heading {
		text-align: center;
		font-size: 2rem;
		letter-spacing: 0.01em;
		margin-bottom: 1.5em;
	}

	&__socials {
		text-align: center;
		margin-bottom: 3em;

		h3 {
			font-size: 2.6em;
			letter-spacing: 0.02em;
			margin-bottom: 0.5em;
			color: $white;
		}

		a {
			text-decoration: none;
			transition: color 0.3s;
			color: $white;

			&:hover {
				color: $main-color;
			}
		}

		i {
			font-size: 2.2rem;
			padding: 0.3em 0.5em;
			margin-bottom: 1em;
		}
	}

	&__info {
		margin-bottom: 2em;
		text-align: center;

		.flex-row {
			display: flex;
		}

		&-box {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			padding: 1em 3em;

			p {
				font-size: 1.5rem;
				margin-bottom: 1.6em;
				transition: color 0.3s;
				cursor: pointer;

				&:hover {
					color: $main-color;
				}
			}

			i {
				font-size: 2.2rem;
				color: $main-color;
				margin-right: 1em;
			}
		}
	}

	&__links {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		ul {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 1em;
			flex-wrap: wrap;
			list-style: none;
			margin-bottom: 2em;

			li {
				position: relative;
				margin-bottom: 1em;
				// padding: 1em;
				&::before {
					position: absolute;
					content: '';
					width: 0.7em;
					height: 0.7em;
					border-radius: 50%;
					top: 0.6em;
					left: -0.6 em;
					background-color: $main-color;
				}
			}
		}

		&-item {
			position: relative;
			padding: 0em 1em;
			font-size: 1.5rem;
			color: $white;
			text-decoration: none;
			transition: color 0.3s;

			&:hover {
				color: $main-color;
			}
		}
	}
}

// FOOTER

.footer {
	background-color: $footer-bg;
	color: rgba(255, 255, 255, 0.3);
	text-align: center;

	&__text {
		font-size: 1.4rem;
		padding: 2em;
	}
}

// ABOUT SUBPAGE

.subpage-header {
	position: relative;
	margin: -0.1em;
	background-image: url('../img/subheader-small.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 1%;
	z-index: 0;

	&::before {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.3);
		z-index: -1;
		content: '';
	}

	&__box {
		padding: 7em 5em;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		color: $white;
	}

	&__heading {
		font-size: 3rem;
		letter-spacing: 0.05em;
		margin-bottom: 0.5em;
	}

	&__paths {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.5rem;
		font-weight: 700;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		list-style: none;

		a {
			position: relative;
			color: $white;
			cursor: pointer;
			text-decoration: none;
			transition: text-decoration 0.4s;

			&:hover {
				text-decoration: underline;
			}

			&::after {
				content: '/';
				position: absolute;
				display: inline-block;
				top: 50%;
				right: -26px;
				color: white;
				transform: translate3d(0, -50%, 0);
			}
		}
	}

	&__path {
		padding: 0em 1.5em;
	}

	.active {
		opacity: 0.6;
	}
}

.our-team {
	background-color: $light-gray;

	&__cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&__card {
		margin-bottom: 3em;
		padding: 1em 2em;
		cursor: pointer;

		&:hover > .our-team__card-info {
			color: $main-color;
			border-color: $main-color;
		}

		&-img {
			img {
				width: 100%;
				border-top-left-radius: 0.4em;
				border-top-right-radius: 0.4em;
			}
		}

		&-info {
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin-top: 2em;
			padding-bottom: 1.5em;
			border-bottom: 0.2em solid $dark;
			transition: border-color 0.3s;

			&-name {
				font-size: 1.8rem;
				transition: color 0.3s;
			}

			&-job-position {
				font-size: 1.5rem;
				color: $gray;
			}
		}
	}
}

.localization {
	.map-small {
		display: block;
	}

	.map-medium {
		display: none;
	}

	.map-large {
		display: none;
	}
}

.get-in-touch {
	.heading {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-bottom: 5em;

		&__text {
			font-size: 1.6rem;
			text-align: center;
			letter-spacing: 0.03em;
			padding-top: 1em;
			border-top: 0.1em solid $gray;
		}

		.section-heading {
			margin-bottom: 0.5em;
		}
	}

	&__form,
	&__form-top {
		display: flex;
		flex-direction: column;
	}

	&__form-label {
		font-size: 1.3rem;
		text-transform: uppercase;
		margin-bottom: 0.5em;
	}

	&__form-input,
	&__form-textarea {
		font-size: 1.6rem;
		margin-bottom: 2em;
		padding: 0.5em 1em;
		border: none;
		background-color: $light-gray;
	}

	&__form-textarea {
		max-width: 100%;
		width: 100%;
		min-height: 150px;
	}
}

// MEDIA

@media (min-width: 576px) {
	.header {
		background-position: 5%;

		&__info {
			padding-left: 4em;

			&-tittle {
				font-size: 5rem;
			}
		}
	}

	.about {
		&__img {
			margin-bottom: 4em;

			.about-img {
				padding: 0em 2em;
			}
		}
		&__info {
			&-heading {
				h2 {
					font-size: 3rem;
				}

				.subpage-heading {
					font-size: 3.6rem;
				}
			}

			&-content {
				&-headings {
					padding: 0em 8em;
				}
				&-text {
					padding: 0 2em;

					.text {
						font-size: 1.6rem;
						margin-bottom: 2em;
						line-height: 1.6em;
						opacity: 0.8;
					}

					.buttons {
						flex-direction: row;

						.first-btn {
							margin-bottom: 0;
							margin-right: 2em;
						}
					}

					.skills {
						flex-direction: row;
					}
				}
			}
		}
	}

	.services {
		&__cards {
			flex-direction: row;
			flex-wrap: wrap;
			gap: 2em;
		}
	}

	.hot-tours {
		&__cards {
			flex-direction: row;
			gap: 2em;
		}
	}

	.our-tours {
		&__cards {
			flex-direction: column;
			margin: 0 auto;
			max-width: 400px;
		}
	}

	.hero-img {
		padding: 6em 4em;
	}

	.reviews {
		&__container {
			padding: 0 6em;
		}
	}

	.achievements {
		&__card {
			&-content {
				&-number {
					font-size: 5.2rem;
				}
				&-text {
					font-size: 2.6rem;
				}
			}
		}
	}

	.discount {
		&__content-form {
			flex-direction: row;
			gap: 1em;

			input {
				margin-bottom: 0;
				flex: 3;
			}

			.first-btn {
				flex: 1;
			}
		}
	}

	// about subpage
	.subpage-header {
		background-image: url('../img/subheader-medium.jpg');
	}
}

@media (min-width: 768px) {
	.header {
		&__info {
			&-tittle {
				font-size: 6rem;
			}
		}
	}

	.tours {
		&__cards {
			flex-direction: row;
		}

		&__card {
			padding: 1em;

			img {
				height: 28em;
			}
		}
	}

	.about {
		&__info-content-text {
			padding: 0em 10em;
		}

		&__info {
			&-heading {
				.subpage-heading {
					font-size: 4rem;
				}
			}
		}
	}

	.services {
		&__card {
			max-width: 31em;
		}
	}

	.our-tours {
		&__cards {
			flex-direction: column;
			margin: none;
			max-width: 100%;
		}
	}

	.hot-tours {
		&__cards {
			padding: 0em 2em;
			flex-direction: column;
		}

		&__card {
			display: flex;
			flex-direction: row;
			border: 0.2em solid $light-gray;

			&-price {
				padding: 1.2em 1.7em;

				.price {
					font-size: 2rem;
				}
			}

			&-img {
				flex: 1;
				img {
					height: 100%;
				}
			}

			&-info {
				padding: 3em;
				flex: 1;

				&-place {
					margin-top: 0;
				}
			}
		}
	}

	.reviews {
		&__container {
			flex-direction: row;
			flex-wrap: wrap;
			padding: 0;
			gap: 4em;
		}

		&__box {
			max-width: 300px;
			margin-bottom: 2em;

			&-text {
				font-size: 1.6rem;
				margin-bottom: 1.5em;
			}
		}
	}

	.achievements {
		&__cards {
			flex-direction: row;
			flex-wrap: wrap;
			gap: 3em;
		}

		&__card {
			margin-bottom: 0;
		}
	}

	.discount {
		&__content {
			&-heading {
				font-size: 3.6rem;
			}

			&-text {
				font-size: 1.6rem;
				padding: 0em 6em;
			}
		}
	}

	// about subpage

	.subpage-header {
		&__heading {
			font-size: 3.6rem;
		}
	}

	.our-team {
		&__cards {
			flex-direction: row;
			flex-wrap: wrap;
		}

		&__card {
			max-width: 350px;
		}
	}

	.localization {
		.map-small {
			display: none;
		}

		.map-medium {
			display: block;
		}
	}

	.get-in-touch {
		.heading {
			// padding: 1em;
			flex-direction: row;
			gap: 2em;

			&__text {
				font-size: 1.8rem;
				line-height: 1.8em;
				padding: 0 1em;
				border-top: none;
				border-left: 0.1em solid $gray;
				flex: 2;
			}

			.section-heading {
				letter-spacing: 0;
				margin-bottom: 0;
				text-transform: none;
				font-weight: 700;
				flex: 1;
			}
		}

		&__form {
			padding: 0em 2em;
		}
		.first-btn {
			align-self: flex-end;
		}
	}
}

@media (min-width: 992px) {

	.home-btn {
		right: 25px;
		bottom: 25px;
		width: 55px;
		height: 55px;
		line-height: 55px;
	}
	.nav {
		&__mobile {
			display: none;
		}

		&__desktop {
			display: block;

			&-head {
				margin: 0;
			}
		}
	}

	.header {
		background-image: url('../img/header-bg-large.jpg');

		&__info {
			height: 70vh;

			&-tittle {
				font-size: 6.5rem;
			}

			&-btn {
				margin-top: 1em;
			}
		}
	}

	.tours {
		&__cards {
			width: 100%;
			margin-top: -12em;
		}
		&__card {
			max-width: 38em;
			margin-right: 1em;
			padding: 1em;

			img {
				height: 44em;
			}
		}
	}

	.about {
		&__content {
			flex-direction: row;
		}

		&__img {
			max-width: 500px;
			margin: 0;
			flex: 1;
		}

		&__info {
			padding: 1em 2em;
			flex: 1;

			&-heading {
				text-align: center;
			}

			&-content {
				&-headings {
					text-align: center;
					padding: 0;

					.about-items {
						width: 100%;
						display: flex;
						justify-content: center;
						align-items: center;
					}

					.about-item {
						font-size: 1.7rem;
						padding: 0.5em;
						letter-spacing: 0.07em;
						border-top: none;
					}
				}

				&-text {
					padding: 0em 2em;

					.text {
						font-size: 1.6rem;
						text-align: center;
						letter-spacing: 0.02em;
					}
				}

				.buttons {
					justify-content: center;
				}
			}
		}
	}

	.services {
		&__cards {
			gap: 3.5em;
		}
		&__card {
			padding: 3em 3em;
			max-width: 35em;
			transition: border 0.3s, box-shadow 0.3s;

			&:hover {
				box-shadow: 0 0 10px 0 rgb(0 0 0 / 17%);
				border: 0.01em solid $light-gray;
			}

			&-icon {
				font-size: 3.4rem;
			}

			&-tittle {
				font-size: 2.2rem;
			}

			&-text {
				font-size: 1.7rem;
				line-height: 1.7em;
			}
		}
	}

	.hot-tours {
		&__card {
			&-price {
				padding: 1.5em 2em;

				.price {
					font-size: 2.2rem;
				}
			}
			&-info {
				padding: 3em 5em 3em 4em;

				&-place {
					font-size: 2.4rem;
				}
				&-reviews {
					i {
						font-size: 1.7rem;
					}

					p {
						font-size: 1.6rem;
					}
				}

				&-text {
					font-size: 1.7rem;
				}
			}
		}
	}

	.hero-img {
		padding: 6em 12em;

		&__tittle {
			font-size: 4rem;

			span {
				font-size: 4.4rem;
			}
		}

		&__text {
			font-size: 1.8rem;
		}
	}

	.discount {
		&__content {
			&-heading {
				font-size: 4rem;
			}

			&-text {
				font-size: 1.7rem;
				padding: 0em 8em;
			}
		}
	}
	.contact {
		&__container {
			display: flex;
			flex-direction: row;
			align-items: flex-start;
			justify-content: center;
		}

		&__socials {
			flex: 1;

			h3 {
				padding: 0;
			}
		}
		&__info {
			flex: 1;
			text-align: left;

			&-box {
				align-items: flex-start;
				padding: 0em 4em;

				i {
					margin-right: 0.8em;
				}
			}
		}

		&__links {
			flex: 1;
			align-items: flex-start;
			padding: 0em 4em;

			ul {
				justify-content: flex-start;
			}
		}
	}

	.footer {
		&__text {
			font-size: 1.6rem;
		}
	}

	// about subpage

	.subpage-header {
		background-image: url('../img/subheader-large.jpg');

		&__heading {
			font-size: 4rem;
		}

		&__box {
			padding: 12em 5em;
		}
	}
}

@media (min-width: 1200px) {
	.about {
		&__info-heading {
			h2 {
				font-size: 3.4rem;
			}
		}
		&__info-content {
			&-headings {
				.about-item {
					font-size: 1.8rem;
					padding: 0.5em 1em;
					letter-spacing: 0.1em;
				}
			}

			&-text {
				.text {
					padding: 1em 3em;
				}
			}
		}
	}

	.services {
		&__cards {
			gap: 3em;
		}

		&__card {
			max-width: 36em;
		}
	}

	.hot-tours {
		&__card {
			&-info {
				padding-right: 10em;
			}
		}
	}

	.hero-img {
		padding: 6em 30em;
	}

	.reviews {
		&__box {
			max-width: 340px;
		}
	}

	.contact {
		&__socials {
			margin-right: 2em;
		}

		&__info-box {
			margin-right: 2em;
		}
	}

	//subpage about us

	.our-team {
		&__card {
			max-width: 370px;
			margin-right: 3em;
		}
	}

	.localization {
		.map-medium {
			display: none;
		}

		.map-large {
			display: block;
		}
	}

	.get-in-touch {
		.heading {
			&__text {
				font-size: 2rem;
				padding: 0em 2em;
			}

			.section-heading {
				font-size: 3.6rem;
			}
		}

		&__form-label {
			font-size: 1.5rem;
		}
	}
}
